body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.profile-pic {
  width: 300px;
  border-radius: 10px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;

}
